<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Trucks</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home"><b>Home</b></a></li>
                <li><a href="/bookings"><b>Current Bookings</b></a></li>
                <li><a href="/about"><b>About</b></a></li>
                <li><a href="/contact"><b>Contact</b></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-user"></span><b>Logout</b></a></li>
            </ul>
        </div>
    </nav>

    

    
      <div  class=" container"  >


                <div class='col-md-1'>
                    
                </div>
            </div>
            <div  class='col-md-12' style="border-style: ridge">
                    <div  class='col-md-5'>
                    <img src="/images/truck.jpg"></div>


                    <h4><b>Bussiness Name: Venkateswara Truck Services </b></h4>
                    <p>Size: Medium</p>
                    <p>Truck No.: Mu2 VPD</p>
                    <p>Contact: 6660123657</p>
                    <p>Arrival Time: Thu 12 2019 12:24:00PM</p>
                    <p>Present Location: St Joseph</p>
                    <a href='/track' class="btn btn-primary" style="align-items: center; margin-left: 44%">Track</a>&nbsp
                    <a href="/findTrucks" style="align-content: center;" class="btn btn-danger">Cancel</a><br><br/>
                    
            </div><br>
    
    
    
           
            
        
</div>

</body>

</html>