<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="/css/login.css">

  <title>Login</title>

<button type="button" class="btn btn-primary btn-block btn-large">Admin</button>
</head>
<div class="col-md-6">
      <img src="truck.jpg", align = center>
</div>

<body>
<div class="login">
    <h1>Login</h1>
        <div class="col-md-6">
            <form method="post" action="index.html">
                <input type="text" name="u" placeholder="Username" required="required" />
                <input type="password" name="p" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">LOGIN</button>
            </form>
        </div>
</div> 
</body>
</html>