<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="login.css">
  <title>Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/truckOwnerIndex"><b>Home</b></a></li>
            <li><a href="/managetrucks"><b>Manage Trucks</b></a></li>
            <li><a href="/managebookings"><b>Manage Bookings</b></a></li>
          </ul>
    
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span><b>Logout</b></a></li>
          </ul>
        </div>
      </nav>

<div class="container">
  <div class="col-md-2">
    <br>
  </div><br>
  <div class='col-md-3'>
    <br>
  </div>
  <div class="col-md-4" style="border-style: ridge">
    <form method="post" action="/addtruck">
        <h3 style="margin-left: 30%;"><b>Add truck</b></h3>
        <label>Enter truck size</label>
        <input type="text" class="form-control" placeholder="Truck Size" name="trucksize" required><br>
        <label>Enter truck name</label>
        <input type="text" class="form-control" placeholder="Truck Name" name="truckname" required><br>
        <label>Enter your address</label>
        <input type="text" class="form-control" placeholder="Address" name="address" required><br>
        <label>Enter Registration No</label>
        <input type="text" class="form-control" placeholder="Registration no" name="regNo" required><br>
        <button class="btn btn-primary" name="addtruck" style="margin-left: 40%;">Add</button><br/><br/>
    </form>
    
    
  </div>
</div>
</body>
</html>