<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <title>Success</title>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home"><b>Home</b></a></li>
                <li><a href="/about"><b>About</b></a></li>
                <li><a href="/contact"><b>Contact</b></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-user"></span><b>Logout</b></a></li>
            </ul>
        </div>
    </nav>

<div class='col-md-3'>
</div>

<div class='col-md-5'>
    <div style="border-style: ridge; align-items: center; padding-left: 5%;">
        <h3>Congratulations!! Your Booking is Successful.</h3><br>
        <p>Confirmation Number: <b>A123Ghk</b></p>
        <p>An Email with the booking details has been sent to your registered email ID.</p><br>
        <!-- <button class="btn btn-primary" style="margin-left: 25%;">Check Status</button><br> -->
    </div>
</div>    
</body>
</html>